*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    width: 100dvw;
}
#container{
    display: flex;
    flex-direction: column; 
    width: 70%;
    min-height: 200px;
    background-color: black;
    margin: auto;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 3%;
    padding-right: 3%;
    border: 1px solid black;
    border-radius: 10px;
}
.sub-container{
    background-color: white;
    width: 70%;
    min-height: 50px;
    margin: auto;
    text-align: center;
    text-size-adjust: 15px;
    font-weight: bolder;
    margin-bottom: 3%;
}
.btn-pad2{
  padding-right: 10%;
  padding-left: 10%;
  margin-bottom: 3%;
  font-weight: bolder;
}
.btn-pad{
    margin-right: 15%;
    margin-left: 4%;
    padding-right: 10%;
    padding-left: 10%;
    margin-bottom: 3%;
    font-weight: bolder;
}
.header-section{
    text-align: center;
}
.header1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top: 2%;
    margin-bottom: 3%;
}
.header2{
    font-family:'papyrus';
    margin-bottom: 3%;
}
#news-content{
    display: flex;
    flex-direction: column; 
    width: 70%;
    background-color: rgb(198, 200, 200);
    margin: auto;   
    border-radius: 2%;
}
/* new changes here*/
#news-card{
    display: flex;
    flex-direction: column; 
    width: 70%;
    background-color: rgb(198, 200, 200);
    margin: auto;   
}
